<div class="container conversation"
  data-controller="conversation-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @conversation.id %>"
>
  <% if @over_ten %>
    <%= link_to "Show Previous", "?m=all" %>
  <% end %>

  <%# messages displayed here %>
  <div class="ui segment" data-conversation-subscription-target="messages">
    <% @messages.each do |message| %>
      <%= render "message", message: message %>
    <% end %>
  </div>

  <%# form to add a new message %>
  <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
    <div class="field">
      <%= f.text_area :content, class: "form-control" %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
    </div>
  <% end %>

</div>
