<div class="conversation-container"
  data-controller="conversation-subscription"
  data-conversation-subscription-conversation-id-value="<%= @conversation.id %>"
>
  <% if @over_ten %>
    <%= link_to "Show Previous", "?m=all" %>
  <% end %>

  <%# messages displayed here %>
  <div class="chat" >
    <div class="chat-header">
      <div class="header-images">
        <%= image_tag @other_user.photo.url, alt: "#{@other_user.name} Profile Picture", class: "user-image" %>
        <%= image_tag @other_user_dog.photos.first, alt: "#{@other_user_dog.name} Profile Picture", class: "dog-image" %>
      </div>
      <div class="header-text">
        <h2>
          <%= @other_user.name %><br>
          <small><em> & <%= @other_user_dog.name %></em></small>
        </h2>
      </div>
    </div>
    <hr>
    <div class="messages" data-conversation-subscription-target="messages">
    <% @messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
    </div>

  </div>

  <%# form to add a new message %>
  <%= form_for [@conversation, @message], html: {class: "chat-form", data: { action: "turbo:submit-end->conversation-subscription#resetForm" }} do |f| %>
      <%= f.text_area :content, placeholder: "Message...", class: "text-area"%>
    <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit "Send",  class: "form-button"%>
  <% end %>

</div>
