<div class="conversation-container"
  data-controller="conversation-subscription"
  data-conversation-subscription-conversation-id-value="<%= @conversation.id %>"
  data-conversation-subscription-current-user-id-value="<%= current_user.id %>"
>


  <%# messages displayed here %>
  <div class="chat" >
    <div class="chat-header">
      <div class="back-btn">
        <%= link_to :back do %>
          <i class="fa-solid fa-chevron-left orange"></i>
        <% end %>
      </div>
      <div class="header-images">
      <%= link_to user_path(@other_user) do %>
        <%= image_tag @other_user.photo.url, alt: "#{@other_user.name} Profile Picture", class: "user-image" %>
        <%= image_tag @other_user_dog.photos.first, alt: "#{@other_user_dog.name} Profile Picture", class: "dog-image" %>
      <% end %>
      </div>
      <div class="header-text">
        <h2>
          <%= @other_user.name %><br></h2>
          <h4><em> & <%= @other_user_dog.name %></em></h4>
      </div>
    </div>

    <div class="messages" data-conversation-subscription-target="messages">
    <% @messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
    </div>

  </div>

  <%# form to add a new message %>
  <%= form_for [@conversation, @message], html: {class: "chat-form", data: { action: "turbo:submit-end->conversation-subscription#resetForm" }} do |f| %>
    <%= f.text_area :content, placeholder: "Message...", class: "text-area"%>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= button_tag type: "submit", class: "form-button" do %>
      <i class="fa-solid fa-paper-plane"></i>
    <% end %>
  <% end %>

</div>
