<div class="header">
  <div class="header-inner">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="text-banner text-center">Explore</h1>
        <a href="#"><i class="fa-solid fa-circle-plus orange"></i>
        </a>
    </div>
      <%= form_with url: users_path, method: :get, class: "d-flex justify-content-center", id: "search-form" do  %>
        <%= text_field_tag :query,
          params[:query],
          class: "input-search",
          placeholder: "ðŸ”  Type a location...",
          id: "search-bar"
          %>
        <button type="button" id="clear-button"><i class="fa-solid fa-xmark"></i></button>
        <%= javascript_include_tag 'search_form' %>
      <% end %>
  </div>
</div>

<% if @message.present? %>
  <div class="mx-3 text-center">
    <h5 class="my-3  user-error"> <%= @message.html_safe %> </h5>
  </div>
<% end %>

<div class="explore-container">
  <% @users.includes(:dogs, photo_attachment: :blob).reject { |user| user == current_user }.each do |user| %>
    <% user.dogs.each do |dog| %>
      <div class="explore-profile-card">
        <div class="">
          <%=  link_to user_path(user) do %>
            <% first_photo = dog.photos.first %>

            <div class="small-profile-card">
              <div class= "dog-picture-users" style="background-image: url('<%= image_path first_photo.url %>')">
                <%= image_tag user.photo.url, height: 100, width: 100, class: "user-avatar", style: "border-radius: 50%;" %>
              </div>
              <div class="py-2 px-2">
                <h5><%= user.name %> & <%= dog.name %> </h5>
                <p><small><i class="fa-solid fa-location-dot "></i> <%= user.location.capitalize %></small></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
