<div class="profile-container">
  <div class="back-btn-profile">
    <%= link_to :back do %>
      <i class="fa-solid fa-chevron-left orange"></i>
    <% end %>
      </div>
  <div class="user-profile">
    <%= image_tag @user.photo.url, alt: "#{@user.name} Profile Picture", class: 'profile-image-small align-self-start' %>
    <div class= "profile-tools">
    <div class="stats-container">
      <div class="stats">
        <p><strong><%= @user.followers + @friends_number %></strong></p>
        <p>followers</p>
      </div>
      <div class="stats">
        <p><strong><%= @user.communities %></strong></p>
        <p>communities</p>
      </div>
      </div>
      <div class="btn-follow-container">
      <% if current_user == @user %>
        <button type="button" class=" btn-profile" data-bs-toggle="modal" data-bs-target="#editProfileModal">
          Edit profile
        </button>
      <% end %>
    </div>
   </div>
  </div>



  <div class="user-bio">
    <div class=name-container>
      <h5><strong><%= @user.name %>, </strong><span class="lighter-font"><%= @user.age %></span></h5>

    </div>
  </div>

    <p class="gray"><i class="fa-solid fa-location-dot orange"></i> <%= @user.location.capitalize %></p>
    <p><%= @user.bio %></p>


  <% unless current_user == @user %>
    <div class="btn-container">
      <%= render "private_message_button", user: @user, method: :get, class: 'btn-profile' %>
      <% if @friendship %>
          <%= button_to friendship_path(@friendship, receiver_id: @user.id), method: :delete, class: 'btn-profile unfollow' do %>
            <i class="fa-regular fa-circle-xmark"></i><span class="mx-2">Unfollow</span>
          <% end %>
      <% else %>
        <%= button_to friendships_path(receiver_id: @user.id), method: :post, class: 'btn-profile' do %>
          <i class="fa-solid fa-user-plus"></i><span class="mx-2">Follow</span>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <!-- Edit Profile Modal -->
  <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Profile Edit Form -->
          <%= simple_form_for @user,  url: user_path(@user), method: :put do |f| %>
              <%= f.input :name %>
              <%= f.input :age %>
              <%= f.input :bio %>
              <%= f.input :location %>
              <%= f.input :photo, as: :file %>
              <%= f.button :submit, "Save Changes", class: "btn btn-warning submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Photo Carousel and Upload Photo Button -->
  <div id="carouselExampleIndicators" class="carousel slide position-relative my-3" data-bs-ride="carousel">
    <!-- Carousel Indicators -->
    <div class="carousel-indicators">
      <% @dog.photos.each_with_index do |photo, index| %>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>" aria-label="Slide <%= index + 1 %>"></button>
      <% end %>
    </div>
    <!-- Carousel Inner -->
    <div class="carousel-inner">
      <% @dog.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <%= image_tag photo.url, class: 'd-block w-100', alt: "Slide #{index + 1}" %>
        </div>
      <% end %>
    </div>
      <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

  </div>
  <!-- Dog Details -->
  <div class="my-3 dog_details text-left">
    <h5><strong><%= @dog.name %></strong></h5>
    <h6><%= @dog.breed %></h6>
    <p class="gray"><em><%= @dog.age %> years old, <%= @dog.gender %></em></p>
    <p>Fun fact about me - <%= @dog.bio %></p>
  </div>
</div>
