<div class="container-fluid">

  <div class="profile-container my-3">
    <div class="text-center">
      <h1><%= @dog.name %> & <%= @user.name %></h1>
    </div>

        <div class="dog-profile-container">
          <div class="dog-profile">
            <%= image_tag @dog.photos.first.url, alt: "#{@user.name} Dog Picture", class: 'profile-image' %>
          </div>

          <div class="mt-2">
            <h5><strong><%= @dog.breed %></strong></h5>
            <p><small><%= @dog.age %> years old, <%= @dog.gender %></small></p>
          </div>

          <div class="mt-4">
            <p><%= @dog.bio %></p>
          </div>
        </div>


      <div class="user-card">
        <div class="user-profile">
          <%= image_tag @user.photo.url, alt: "#{@user.name} Profile Picture", class: 'profile-image-small' %>
          <div class="profile-info">
            <h4><strong><%= @user.name %>, </strong><span class="lighter-font"><%= @user.age %></span></h4>
          </div>
        </div>

        <div class="user-bio">
          <strong>About me</strong>
          <p><%= @user.bio %></p>
        </div>
      </div>

      <div class="actions d-flex my-3 justify-content-center">
        <%= render "private_message_button", user: @user, method: :get, class: 'btn btn-warning' do %>
        <% end %>
          <%= button_to root_path(user_id: @user.id), method: :post, class: 'btn btn-warning' do %>
            <i class="fas fa-user-plus"></i> Add buddy
          <% end %>
      </div>
  </div>
</div>
