<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" >
  <div class="container-fluid">
    <%= link_to root_path, class: " mx-3 navbar-brand" do %>
      <%= image_tag 'https://res.cloudinary.com/drqv8g5uf/image/upload/v1710167061/Bark_Buddies_1_tzzpf2.png' %>
    <% end %>



    <div>
      <ul class="d-flex align-items-center justify-content">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
<<<<<<< HEAD
          <li class="nav-item" data-controller="notifications" data-notifications-target = "notificationsDiv">
            <%= link_to conversations_path, class: "nav-link", data: { target: "messages" } do %>
              <span>Messages</span>
              <i class="fa-solid fa-circle"></i>
            <% end %>
=======
          <li class="nav-item">
            <%= link_to "Messages", conversations_path, class: "nav-link" %>
          <li class="nav-item">
            <%= link_to "Events", events_path, class: "nav-link" %>
>>>>>>> a4ed3b456bf8085f901230aa4136efb63b9cac85
          </li>
          <div class="d-flex user-actions">
            <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag current_user.photo, class: "avatar", alt: "dropdown menu" if current_user.photo.present? %>
            </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Messages", conversations_path, class: "dropdown-item" %>
                <%= link_to "Buddies", "#", class: "dropdown-item" %>
                <%= link_to "Communitites", "#", class: "dropdown-item" %>
                <%= link_to "Events", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
