<div class="modal fade" id="staticBackdrop<%= event.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel<%= event.id %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel"><%= event.title %> 🎉</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body-event" data-controller="attend">
        <%= image_tag event.photo.url, class: "modal-image" %>
        <div class="event-details">
          <p class="fw-bold">Event Details:</p>
          <p><%= event.description %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p><small><i class="fa-solid fa-location-dot orange"></i> <%= event.location %></small></p>
          <p><small><i class="fa-regular fa-calendar orange"></i> <%= event.date.strftime("%d %B %Y") %></small></p>
        </div>
        <div class="attend-button-container d-flex flex-column justify-content-center">
          <button class="attend-button" data-action="click->attend#toggle" data-attend-target="button">Attend</button>
        </div>
        <div class="fake-attendees" data-attend-target="fakeAttendees" style="font-size: small;">
          <p>Tom and 25 others are going</p>
        </div>
      </div>
    </div>
  </div>
</div>
