<div class="header">
  <div class="header-inner">
    <h3>Events</h3>
    <%= form_with url: events_path, method: :get, class: "d-flex justify-content-center" do  %>
      <%= text_field_tag :query,
        params[:query],
        class: "input-search",
        placeholder: "ðŸ” Explore..",
        id: "search-bar"
      %>
    <% end %>
  </div>
</div>

<div class="container-event">
  <h4 class="mb-3">Coming soon</h4>
  <% months = { "04" => "April", "05" => "May", "06" => "June" } %>
  <% @events.each_with_index do |event| %>
    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= event.id %>">
      <div class="card-event">
        <div class="event-calendar-icon">
          <%= render "pages/calendar_icon", event: event %>
        </div>
        <%= image_tag event.photo.url, class: "event-image" %>
        <div class="card-event-info">
          <h5><%= event.title %></h5>
          <div class="event-details">
            <p><i class="fa-solid fa-location-dot"></i> <%= event.location %></p>
            <p><i class="fa-regular fa-user"></i> <%= rand(10..20) %> Buddies going</p>
          </div>
        </div>
      </div>
    </a>
    <%= render "event_modal", event: event %>
  <% end %>
</div>
