<div class="banner-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://rare-gallery.com/uploads/posts/717748-Dogs-Retriever.jpg);">
  <div class="container">
    <div class="banner-text">
      <h3>Explore Events</h3>
      <span>
        <p>From dog shows and dog-friendly cinema screenings to brunch meet-ups and more, if it's an event designed for our furry companions to enjoy, we'll feature it on our London Dog Events Calendar. This way, you can plan your pup's social life alongside your own. Simply click on the event you're interested in from the calendar below for more details…</p>
      </span>
    </div>
  </div>
</div>

<div class="container-event">
  <% @events.each do |event| %>
    <div class="card-event">
      <img src="https://saltydogpaddle.org/wp-content/uploads/2019/11/yappyhourbeer-1024x585.jpg">
      <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="card-event-info">
          <h2><%= event.title %></h2>
          <p><%= event.description %></p>
          <p><%= event.location %></p>
          <p><span><%= event.date %></span></p>
        </div>
      </a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel"><%= event.title %></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p><%= event.description %></p>
            <p><%= event.location %></p>
            <p><span><%= event.date %></span></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>



    <!-- Card-Event -->
  <%# <div class="container-event">
    <strong><h6 style="margin-left:60px">APRIL</h6></strong>
      <div class="card-event">
        <img src="https://saltydogpaddle.org/wp-content/uploads/2019/11/yappyhourbeer-1024x585.jpg">
              <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <div class="card-event-info">
                  <h1>Name of Event</h2>
                  <p> Event description with <strong>relevant info</strong> only.</p>
                    <p> 8:30AM - 20:00 PM<p>
                </div>
              </a>
            </div>
        <!-- Card-Event -->
          <div class="card-event">
            <img src="https://www.rauanimalhospital.com/sites/default/files/summertime-events-for-dogs-blog-header.jpg" />
              <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <div class="card-event-info">
                    <h2>Name of Event</h2>
                    <p> Event description with <strong>relevant info</strong> only.</p>
                      <p> 8:30AM - 16:00 PM<p>
                  </div>
                </a>
            </div>
          </div>

        <!-- Card-Event -->
      <div class="container-event">
        <strong><h6 style="margin-left:60px">MAY</h6></strong>
            <div class="card-event">
              <img src="https://k9nation.dog/k9nation/wp-content/uploads/2022/03/Dog-Events-Feature.jpeg" />
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <div class="card-event-info">
                    <h2>Name of Event</h2>
                    <p> Event description with <strong>relevant info</strong> only.</p>
                      <p> 8:30AM - 12:00 PM<p>
                  </div>
                </a>
            </div>
        <!-- Card-Event -->
            <div class="card-event">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/DF88/production/_106642275_tv053643519.jpg" />
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <div class="card-event-info">
                    <h2>Name of Event</h2>
                    <p> Event description with <strong>relevant info</strong> only.</p>
                      <p> 9:30AM - 12:00 PM<p>
                  </div>
                </a>
            </div>
      </div>
        <!-- Card-Event -->
      <div class="container-event">
        <strong><h6 style="margin-left:60px">JUNE</h6></strong>
            <div class="card-event">
              <img src="https://m.media-amazon.com/images/M/MV5BMjMwODg2NDA2MV5BMl5BanBnXkFtZTgwNDI1Mjg5NDM@._V1_.jpg" />
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <div class="card-event-info">
                    <h2>Name of Event</h2>
                    <p> Event description with <strong>relevant info</strong> only.</p>
                          <p> 11:30AM - 13:00 PM<p>
                  </div>
                </a>
            </div>

          <!-- Card-Event -->
      <% @events.each do |event| %>
          <%# <div class="card-event">
              <img src="https://www.mutneys.com/wp-content/uploads/2019/08/OpawzBlowPens-Dog-Sample.jpg" />
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <%# <div class="card-event-info">
                <h2><%= event[:name]</h2>
                  <p><%= event[:description]</p>
                  <p><%= event[:location] %>
                    <%# <p> 10:30AM - 14:00 PM<p> %>
              <%# </div> %>
            <%# </a> %>
          <%# </div> %>
        <%# </div> %>
