<div class= "my-4 mx-2 d-flex justify-content-between" id="dashboard-header">
  <%= link_to root_path, class: " mx-3 navbar-brand" do %>
      <%= image_tag 'https://res.cloudinary.com/drqv8g5uf/image/upload/v1710167061/Bark_Buddies_1_tzzpf2.png', width: 100 %>
  <% end %>
  <div class="d-flex justify-content-end align-items-center">
    <% if user_signed_in? %>
      <h1 class="mx-2">Hi, <%= current_user.name %>! </h1>
      <div class="d-flex user-actions">
        <li class="nav-item dropdown">
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag current_user.photo, class: "avatar", alt: "dropdown menu" if current_user.photo.present? %>
        </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Buddies", "#", class: "dropdown-item" %>
            <%= link_to "Communities", "#", class: "dropdown-item" %>
            <%= link_to "Events", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      </div>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </div>
</div>

<div class="mb-5 d-flex align-items-center justify-content-around">

</div>

<div class="container profiles-container">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Buddies near you</h2>
    <%=  link_to "See more", users_path %>
  </div>
  <div class="d-flex container scroll">
    <% @users.all.take(5).each do |user| %>
      <% user.dogs.each do |dog| %>
        <%=  link_to user_path(user) do %>
          <% first_photo = dog.photos.first %>
          <div class="profile-card my-4 mx-3 ">
            <div class= "card-image" style="background-image: url('<%= image_path first_photo.url %>')">
              <%= image_tag user.photo.url, height: 80, width: 80, class: "user-avatar", style: "border-radius: 50%;" %>
            </div>
            <div class="mx-2 my-1 d-flex flex-column justify-content-center">
              <h5><%= user.name %> & <%= dog.name %> </h5>
                <p><%= dog.breed %></p>
                <p><small><%= dog.gender %>, <%= dog.age %> years old</small></p>
              <p><small><i class="fa-solid fa-location-dot"></i> <%= user.location %></small></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Suggested Communties</h2>
    <%=  link_to "See more", communities_path, class:"orange" %>
  </div>
  <div class="d-flex scroll">
    <% @communities.all.each do |community| %>
        <div class="d-flex flex-column my-4 mx-3">
          <%= link_to community_path(community) do %>
            <div class= "d-flex card-community text-center justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('<%= image_path community.photo.url if community.photo.try(:url).present? %>')">
            <h2><%= community.name %></h2>
          <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Events Coming Up</h2>
    <%=  link_to "See more", events_path, class:"orange" %>
  </div>


    <div class="">
      <div class="row mt-4">
        <% @events.each do |event| %>
          <div class="col-12 d-flex align-items-center">
            <div class="card-event">
              <img src="https://saltydogpaddle.org/wp-content/uploads/2019/11/yappyhourbeer-1024x585.jpg">
            <div class="card-event-info">
              <h2><%= event.title %></h2>
              <p><%= event.description %></p>
              <p><%= event.location %></p>
              <p><span><%= event.date %></span></p>
            </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>



</div>
