 <div class="profiles-container">
    <div class="d-flex justify-content-between align-items-center mb-3 profiles-title">
      <h2>Buddies near you</h2>
      <%=  link_to users_path, class: "underlined-link" do %>
        <i class="fa-solid fa-arrow-right-long"></i>
      <% end %>
    </div>
    <div class="scroll-container">
      <div class="d-flex scroll px-3">
        <% @users.reject { |user| user == current_user }.take(10).each do |user| %>
          <% user.dogs.each do |dog| %>
            <%=  link_to user_path(user) do %>
              <% first_photo = dog.photos.first %>
              <div class="profile-card">
                <div class= "card-image" style="background-image: url('<%= image_path first_photo.url %>')">
                  <%= image_tag user.photo.url, height: 80, width: 80, class: "user-avatar", style: "border-radius: 50%;" %>
                </div>
                <div class="py-2 px-2 d-flex flex-column justify-content-center">
                  <h5><%= user.name %> & <%= dog.name %> </h5>
                  <p><small><i class="fa-solid fa-location-dot"></i> <%= user.location %></small></p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>



  <div class="suggested-community-container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>Popular communities</h2>
      <%=  link_to communities_path, class:"orange underlined-link" do %>
        <i class="fa-solid fa-arrow-right-long"></i>
      <% end %>
    </div>
    <div class="d-flex scroll">
      <% @communities.each do |community| %>
        <%= render "communities/community_modal", community: community  %>
        <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#staticBackdrop#{community.id}" } do %>
          <div class= "d-flex card-community text-center justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('<%= image_path community.photo.url if community.photo.try(:url).present? %>')">
            <h2><%= community.name %></h2>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="upcoming-events-container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>Upcoming events</h2>
      <%=  link_to events_path, class:"orange underlined-link" do %>
        <i class="fa-solid fa-arrow-right-long"></i>
      <% end %>
    </div>
    <div class="">
      <% @events.first(4).each do |event| %>
        <a data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= event.id %>">
          <div class="events-cards">
            <%=  render "pages/calendar_icon", event: event %>
            <div class="mx-2">
              <h5><%= event.title %></h5>
                <p><small><i class="fa-solid fa-location-dot"></i> <%= event.location %></small></p>
            </div>
          </div>
        </a>
        <!-- Modal -->
        <%= render "events/event_modal", event: event %>
      <% end %>
    </div>
  </div>
