
<div class="container profiles-container">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Buddies near you</h2>
    <%=  link_to "See more", users_path %>
  </div>
  <div class="d-flex container scroll">
    <% @users.all.each do |user| %>
      <% user.dogs.each do |dog| %>
        <%=  link_to user_path(user) do %>
          <% first_photo = dog.photos.first %>
          <div class="profile-card my-4 mx-3 ">
            <div class= "card-image" style="background-image: url('<%= image_path first_photo.url %>')">
              <%= image_tag user.photo.url, height: 80, width: 80, class: "user-avatar", style: "border-radius: 50%;" %>
            </div>
            <div class="mx-2 my-1 d-flex flex-column justify-content-center">
              <h5><%= user.name %> & <%= dog.name %> </h5>
                <p><%= dog.breed %></p>
                <p><small><%= dog.gender %>, <%= dog.age %> years old</small></p>
              <p><small><i class="fa-solid fa-location-dot"></i> <%= user.location %></small></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Suggested Communties</h2>
    <%=  link_to "See more", users_path, class:"orange" %>
  </div>
  <div class="d-flex scroll">
    <% @communities.all.each do |community| %>
        <div class="d-flex flex-column my-4 mx-3">
          <%= link_to community_path(community) do %>
            <div class= "d-flex card-community text-center justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('<%= image_path community.photo.url if community.photo.try(:url).present? %>')">
            <h2><%= community.name %></h2>
          <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Events Coming Up</h2>
    <%=  link_to "See more", events_path, class:"orange" %>
  </div>


    <div class="container">
      <div class="row mt-4">
        <% @events.each do |event| %>
          <div class="col-6 d-flex align-items-center">
            <div class="card-event">
              <img src="https://saltydogpaddle.org/wp-content/uploads/2019/11/yappyhourbeer-1024x585.jpg">
            <div class="card-event-info">
              <h2><%= event.title %></h2>
              <p><%= event.description %></p>
              <p><%= event.location %></p>
              <p><span><%= event.date %></span></p>
            </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>



</div>
