<div class="appear-if-small">
  <div class="menu">
    <ul>
      <li class= '<%="link #{request.path == "/" ? "orange" : ""}"%>'>
        <%= link_to root_path, class: "icon" do %>
          <i class='<%="fas fa-home #{request.path == "/" ? "orange" : ""}"%>'></i>
        <% end %>
        <small>HOME</small>
      </li>
      <li class='<%="link #{request.path == "/conversations" ? "orange" : ""}"%>' data-notifications-target="notificationsDot">
        <%= link_to conversations_path, class: "icon" do %>
          <i class='<%="fas fa-envelope #{request.path == "/conversations" ? "orange" : ""}"%>' data-notifications-target="envelope"></i>
        <% end %>
        <small>MESSAGES</small>
      </li>
      <li class='<%="link #{request.path == "/users" ? "orange" : ""}"%>'>
        <%= link_to users_path, class: "icon" do %>
          <i class='<%="fas fa-user-friends #{request.path == "/users" ? "orange" : ""}"%>'></i>
        <% end %>
        <small>EXPLORE</small>
      </li>
      <li class='<%="link #{request.path == "/events" ? "orange" : ""}"%>'>
        <%= link_to events_path, class: "icon" do %>
          <i class='<%="fas fa-calendar-alt #{request.path == "/events" ? "orange" : ""}"%>'></i>
        <% end %>
        <small>EVENTS</small>
      </li>
      <li class='<%="link #{request.path == "/communities" ? "orange" : ""}"%>'>
        <%= link_to communities_path, class: "icon" do %>
          <i class='<%="fas fa-users #{request.path == "/communities" ? "orange" : ""}"%>'></i>
        <% end %>
        <small>COMMUNITY</small>
      </li>
    </ul>
  </div>
</div>
