<div class="appear-if-large">
  <div class="menu">
    <div class="menu-selections">
      <div class="link">
        <%= link_to "Home", root_path%>
      </div>
      <div class="link">
        <%= link_to "Explore", users_path %>
      </div>
      <%# notifications here %>
      <div class="link" data-notifications-target="chatNotifications">
        <%= link_to "Messages", conversations_path %>
      </div>
      <div class="link">
        <%= link_to "Events", events_path %>
      </div>
      <div class="link">
        <%= link_to "Communities", communities_path %>
      </div>
    </div>
  </div>
</div>
