<div class="header">
  <div class="header-inner">
    <h3>  Communities</h3>
        <%= form_with url: communities_path, method: :get do  %>
          <%= text_field_tag :query,
            params[:query],
            class: "input-search-small",
            placeholder: "ðŸ” Search...",
            id: "search-bar"
            %>
            <button type="button" id="clear-button"><i class="fa-solid fa-xmark"></i></button>
          <%= javascript_include_tag 'search_form' %>
        <% end %>
  </div>
</div>
<div class="community-container" data-controller="bubbles">
  <% if params[:query].present? %>
    <h2>Search results for: <%= params[:query] %></h2>
    <div class="community-grid">
      <% @communities.each do |community| %>
        <%= link_to "Join Community", data: { bs_toggle: "modal", bs_target: "#staticBackdrop#{community.id}" } do %>
          <div class="community-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path community.photo.url %>');">
            <p><%= community.name %></p>
            </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <h2>Popular Breeds</h2>
    <div class="community-grid" data-bubbles-target = "popularBubblesContainer">
      <% @communities.first(6).each do |community| %>
        <%= render "communities/community_modal", community: community  %>
        <%= link_to "Join Community", data: { bs_toggle: "modal", bs_target: "#staticBackdrop#{community.id}" } do %>
          <div class="community-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path community.photo.url %>');" data-bubbles-target = "popularBubbles">
            <p><%= community.name %></p>
          </div>

        <% end %>
      <% end %>
    </div>

    <h2>City & Neighborhood</h2>
    <div class="community-grid" data-bubbles-target = "cityBubblesContainer">
      <% @communities.last(4).each do |community| %>
        <%= render "communities/community_modal", community: community  %>
        <%= link_to "Join Community", data: { bs_toggle: "modal", bs_target: "#staticBackdrop#{community.id}" } do %>
          <div class="community-card-city" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path community.photo.url %>');" data-bubbles-target = "cityBubbles">
            <p><%= community.name %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
