<div class="banner-img">
  <div class="container ">
    <div class="banner-text">
      <h3>  Communities</h3>
        <h5 class="text-center">Join the Bark Buddies community!</h5>
          <%= form_with url: communities_path, method: :get, class: "d-flex justify-content-center" do  %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control input-search",
              placeholder: "ðŸ” Search...",
              id: "search-bar"
              %>
              <button type="button" id="clear-button"><i class="fa-solid fa-xmark"></i></button>
            <%= javascript_include_tag 'search_form' %>
          <% end %>
    </div>
  </div>
</div>

<% if params[:query].present? %>
  <div class="pt-3 pb-5 container-lg px-2" style="background: $light-orange;">
    <div class="row mt-4 mx-3" >
      <h2>Search results for: <%= params[:query] %></h2>
      <% @communities.first(6).each do |community| %>
        <div class="col-6 col-lg-2">
          <div class="community-card">
            <%= render "communities/community_card", community: community  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="py-3 container-lg px-2" style="background: $light-orange;">
      <h2>Popular Breed Groups</h2>
    <div class="row mt-4 mx-3" >
      <% @communities.first(6).each do |community| %>
        <div class="col-6 col-lg-2">
          <div class="community-card">
            <%= render "communities/community_card", community: community  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-5 py-5 container-lg px-2" style="background: $light-orange;">
    <h2 class="mb-4">City & Neighborhood Groups</h2>
    <div class="row mt-4 mx-2">
      <% @communities.last(4).each do |community| %>
        <div class="col-6 col-lg-2">
          <div class="community-card">
            <%= render "communities/community_card", community: community  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
