<div class="header">
  <div class="header-inner">
    <div class="d-flex justify-content-between align-items-center">
      <h1> Communities</h1>
        <a href="#"><i class="fa-solid fa-circle-plus orange"></i>
        </a>
    </div>
          <%= form_with url: communities_path, method: :get do  %>
            <%= text_field_tag :query,
              params[:query],
              class: "input-search-small",
              placeholder: "ðŸ” Search...",
              id: "search-bar"
              %>
              <button type="button" id="clear-button"><i class="fa-solid fa-xmark"></i></button>
            <%= javascript_include_tag 'search_form' %>
          <% end %>
  </div>
</div>
<div class="community-container">
  <% if params[:query].present? %>
    <h4>Search results for: <%= params[:query] %></h4>
    <div class="community-grid">
      <% @communities.each do |community| %>
        <%= link_to "Join Community", data: { bs_toggle: "modal", bs_target: "#staticBackdrop#{community.id}" } do %>
          <div class="community-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path community.photo.url %>');">
            <p><%= community.name %></p>
            <p><i class="fa-regular fa-user orange"></i> <%= rand(10..20) %></p>
            </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <h4>Popular Breeds</h4>
    <div class="community-grid">
      <% @communities.first(6).each do |community| %>
        <%= render "communities/community_modal", community: community  %>
        <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#staticBackdrop#{community.id}" } do %>
          <div class="community-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path community.photo.url %>');">
            <p><%= community.name %></p>
            <p><small><i class="fa-regular fa-user orange"></i> <%= rand(10..20) %></small></p>
          </div>
        <% end %>
      <% end %>
    </div>

    <h4>City & Neighborhood</h4>
    <div class="community-grid">
      <% @communities.last(4).each do |community| %>
        <%= render "communities/community_modal", community: community  %>
        <%= link_to "Join Community", data: { bs_toggle: "modal", bs_target: "#staticBackdrop#{community.id}" } do %>
          <div class="community-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path community.photo.url %>');">
            <p><%= community.name %></p>
            <p><small><i class="fa-regular fa-user orange"></i> <%= rand(10..20) %></small></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
