<div class="conversation-container" data-controller="community-subscription" data-community-subscription-community-id-value="<%= @community.id %>">

  <div class="chat">
    <div class="chat-header">
      <div class="header-images">
        <%= image_tag @community.photo.url, class: "user-image" %>
      </div>
      <div class="header-text">
        <h2><%= @community.name %><br></h2>
      </div>
    </div>
      <div class="messages" data-community-subscription-target="messages">
        <% @community.community_messages.each do |message| %>
          <%= render "community_messages/message", message: message %>
        <% end %>
      </div>
  </div>


  <%= simple_form_for [@community, @community_message],
    html: { data: { action: "turbo:submit-end->community-subscription#resetForm" }, class: " mx-3 d-flex"} do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message...", class: "text-area",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "form-button" %>
  <% end %>
</div>
