<div class="conversation-container" data-controller="community-subscription" data-community-subscription-community-id-value="<%= @community.id %>">

  <div class="chat">
    <div class="community-chat-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(' <%= image_path @community.photo.url, class: "user-image" %>');">
      <div class="back-btn-community">
        <%= link_to :back do %>
          <i class="fa-solid fa-chevron-left"></i>
        <% end %>
      </div>
      <h2><%= @community.name %><br></h2>
    </div>

      <div class="messages" data-community-subscription-target="messages">
        <% @community.community_messages.each do |message| %>
          <%= render "community_messages/message", message: message %>
        <% end %>
      </div>

  </div>


  <%= form_for [@community, @community_message], html: {class: "chat-form", data: { action: "turbo:submit-end->conversation-subscription#resetForm" }} do |f| %>
    <%= f.text_area :content, placeholder: "Message...", class: "text-area"%>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= button_tag type: "submit", class: "form-button" do %>
      <i class="fa-solid fa-paper-plane"></i>
    <% end %>
  <% end %>
</div>
