<!DOCTYPE html>
<html>
  <head>
    <title>BarkBuddies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar-barkbuddies appear-if-small">
    <%= link_to root_path, class: "logo-container " do %>
      <%= image_tag ("https://res.cloudinary.com/drqv8g5uf/image/upload/v1710167061/Bark_Buddies_1_rg5mi8"), alt: "Bark Buddies Logo", class: "logo" %>
    <% end %>
    <% if request.path == "/" %>
      <% if user_signed_in? %>
        <h3>Hi, <%= current_user.name %>!</h3>
      <% else %>
        <h3>Hi, there!</h3>
      <% end %>
    <% end %>
    </div>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
